<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "linkedin")' href="https://www.linkedin.com/in/saleem-alzoubi-a76164b9/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:saleemhalzoubi@gmail.com" target='_blank'>SaleemHAlzoubi&#64;gmail.com </a>
        </div>
    </div>
    <div class="footer-credits text-center" >
            <div class="mt-2">Designed by Saleem Alzoubi</div>

    </div>

</footer>


